@keyframes animateText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.strip {
  background-color: #480CA8;
  overflow: hidden;
  margin-bottom: -4px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    animation: animateText 20s linear infinite;
  }

  li {
    white-space: nowrap;
    padding: 16px;
    list-style: none;
    font-weight: 600;
    color: var(--color-text-white);
  }
}
