.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 72px;
  height: 620px;
  @media (max-width: 1024px) {
    height: 770px;
  }
  @media (max-width: 768px) {
    height: 870px;
  }
  @media (max-width: 425px) {
    height: 1010px;
  }
  h1 {
    font-size: 2rem;
    color: var(--color-text-white);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    @media (max-width: 425px) {
      padding: 0;

    }
    h1 {
      text-align: center;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      inline-size: max-content;
      margin-bottom: 12px;
    }

    button {
      background-color: var(--color-secondary);
      border: none;
      border-radius: 57px;
      padding: 18px;
      cursor: pointer;
      display: flex;

      & :hover {
        filter: brightness(0.8);
      }
    }
  }
  .accordionRoot {
    width: 555px;
    height: 100%;
  }
}

.accordionItem {
  overflow: hidden;
  margin-top: 1px;
  min-width: 200px;
  h3 {
    margin: 0;
    border: 1px solid #666666;
  }
  button {
    border: none;
    cursor: pointer;
  }
  &:last-child {
    border-bottom: 1px solid #666666;
  }
}

.accordionHeader {
  display: flex;
}

.accordionTrigger {
  background-color: transparent;
  padding: 16px 18px;
  height: 60px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Button/Big */
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
}

.accordionContent {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
  padding: 15px 20px;
}
.accordionContent[data-state="open"] {
  animation: slideDown 200ms linear;
}
.accordionContent[data-state="closed"] {
  animation: slideUp 200ms linear;
}

.accordionTrigger[data-state="open"] {
  & .accordionMinus {
    display: block;
  }
  & .accordionPlus {
    display: none;
  }
}

.accordionTrigger[data-state="closed"] {
  & .accordionMinus {
    display: none;
  }
  & .accordionPlus {
    display: block;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@media screen and (max-width: 968px) {
  .about {
    flex-direction: column;
    padding: 48px 16px;
    .title {
      margin-bottom: 40px;
    }
    .accordionRoot {
      width: 92vw;
    }
  }
}
