.navbar {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  > svg {
    padding: 16px 50px;
    width: 10rem;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 50%;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: flex-end;

      li {
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 16px;
    }
    div {
      width: 20%;
      margin-right: 50px;
      margin-left: 20px;
    }
  }
  .menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    > svg {
      padding: 16px 10px;
    }
    .content {
      display: none;
    }
    .menu {
      display: flex;
      padding: 16px 10px;
    }
  }
}
