.manualContainer {
    padding: 80px 40px;
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .rpv-core__viewer {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 768px) {
        .rpv-core__viewer {
            width: 100%;
            height: 100vh;
        }
    }
}