.sliderContainer {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  // @media (min-width: 1100px) {
  //   width: 80%;
  // }
}

.slider {
  flex: 1;
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-top: 24px;
}

.sliderItem {
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
  // padding: 10px;
  text-align-last: center;
  height: 240px;
  align-content: end;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.navButton:first-of-type {
  left: 0;
}

.navButton:last-of-type {
  right: 0;
}

.navButton:hover {
  filter: brightness(0.8);
}
