.Programacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.atividades {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.datas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
}

.datas button {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: white;
    border: 0.5px solid var(--color-button-cyan);
    border-radius: 8px;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.datas button.selected {
    background-color: var(--color-button-cyan);
    border: 0.5px solid var(--color-secondary);
    font-weight: 600;
}

.datas img:nth-of-type(1){
    transform: rotate(180deg);
}

.triangleFadeOut {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.triangleFadeIn {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.cardAtividades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid var(--color-primary);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cardInfo .titulo {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.cardInfo h3 {
    font-family: "Anonymous Pro", monospace;
    font-size: 2.0rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardDate {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}

.dia {
    position: relative;
    
}

.dia span {
    position: absolute;
    font-family: "Anonymous Pro", monospace;
    font-size: 1.5rem;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
}

.categoria {
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    color: white;
    padding: 5px 10px;
    border-radius: 24px;
}