.card {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    background-color: var(--color-background);
    border-radius: 8px;
    border: 0.5px solid var(--color-primary);
    transition: all ease-in-out 0.3s;
}

.card:hover {
    border: 0.5px solid var(--color-button-cyan);
    background-color: white;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.titulo h3 {
    font-family: "Anonymous Pro", monospace;
    font-size: 2rem;
    line-height: 120%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desktop {
    width: 236px;
    cursor: pointer;
}

.cardDate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    
}

.dia {
    position: relative;
}

.dia span {
    position: absolute;
    font-family: "Anonymous Pro", monospace;
    font-size: 1.5rem;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
}

.mobile {
    display: none;
}

.categoria {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background-color: var(--color-secondary);
    color: white;
    padding: 8px 12px;
    border-radius: 24px;
}

.categoriaWrap {
    white-space: normal;
}

@media (min-width: 640px) {
    .categoriaWrap {
        white-space: nowrap;
        padding: 5px 6px;
    }
}

@media screen and (max-width: 768px) {
    .titulo h3 {
        font-size: 1.5rem;
    }

    .categoria {
        padding: 5px 8px;
    }
}

@media screen and (max-width: 529px) {
    .card {
        display: grid;
        grid-template-areas: 
            "cardInfo cardDate"
            "mobile mobile";
        padding: 20px;
    }

    .desktop {
        display: none;
    }

    .titulo h3 {
        font-size: 1.4rem;
    }

    .titulo p {
        font-size: 0.9rem;
    }

    .info {
        gap: 3px;
        font-size: 0.8rem;
    }

    .cardDate {
        align-items: right;
    }

    .dia span {
        font-size: 1.1rem;
    }

    .dia img {
        width: 60px;
    }

    .categoria {
        font-size: 0.8rem;
    }

    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        grid-column: 1 / -1;
        margin-top: 20px;
    }

    .mobile :only-child {
        width: 100%;
    }
}
