.Programacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.atividades {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    gap: 15px;
}

.datasContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color-background);
    position: sticky;
    padding: 20px 0;
    z-index: 100;
    top: 70px;
}

.datas {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    overflow-x: auto;
    white-space: nowrap; 
    padding-bottom: 10px;

    &::-webkit-scrollbar {
        height: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--color-secondary);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
}

.datas button {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: var(--color-background);
    border: 0.5px solid var(--color-button-cyan);
    border-radius: 8px;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-wrap: nowrap;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.datas button:hover {
    background-color: var(--color-button-cyan);
    border: 0.5px solid var(--color-secondary);
    font-weight: 600;
}

.datas button.selected {
    background-color: var(--color-button-cyan);
    border: 0.5px solid var(--color-secondary);
    font-weight: 600;
}

.datas img:nth-of-type(1) {
    transform: rotate(180deg);
}

.triangleSmall {
    width: 0px; 
    height: 0px; 
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.triangleNormal {
    width: 14px; 
    height: 14px; 
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.cardAtividades {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .Programacao {
        padding: 20px;
    }

    .datas {
        gap: 10px;
    }

    .datas button {
        padding: 10px 5px;
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .datas{
        overflow: auto;
    }
}

@media screen and (max-width: 480px) {
    .datas {
        gap: 10px;

        &::-webkit-scrollbar {
            height: 5px;
        }
    }

    .datas button {
        padding: 10px 5px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .datas button {
        padding: 10px 5px;
        font-size: 0.8rem;
    }
}