.Programacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.atividades {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap: 15px;
}

.datasContainer {
    width: 100%;
    background-color: var(--color-background);
    position: -webkit-sticky;
    position: sticky;
    padding-top: 20px;
    z-index: 100;
    top: 70px;
}

.datas {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 20px;
}

.datas button {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: var(--color-background);
    border: 0.5px solid var(--color-button-cyan);
    border-radius: 8px;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.datas button:hover {
    background-color: var(--color-button-cyan);
    border: 0.5px solid var(--color-secondary);
    font-weight: 600;
}

.datas button.selected {
    background-color: var(--color-button-cyan);
    border: 0.5px solid var(--color-secondary);
    font-weight: 600;
}

.datas img:nth-of-type(1) {
    transform: rotate(180deg);
}

.triangleSmall {
    width: 0px; 
    height: 0px; 
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.triangleNormal {
    width: 14px; 
    height: 14px; 
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.triangleFadeIn {
    // opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-in, scale 0.3s ease-in;
}

.cardAtividades {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .Programacao {
        padding: 20px;
    }

    .atividades {
        gap: 10px;
    }

    .datas {
        gap: 10px;
    }

    .datas button {
        padding: 10px 5px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .datas {
        // flex-direction: column;
        gap: 10px;
    }

    .datas button {
        padding: 10px 5px;
        font-size: 0.9rem;
    }
}