.organization {
  background-color: var(--color-background);
  height: auto; 
  padding: 56px 72px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &_logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 30px;
  }

  &_img_org {
    width: 272px;
    max-height: 72px;
  }
  &_img_title {
    width: 320px;
  }
  
}


@media screen and (max-width: 768px) {
  .organization_logos {
    gap: 44px;
  }
  .organization_img_org {
    width: 230px;
    // max-height: 36px;
  }
}