.OQueEsperar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 32px;
    gap: 32px;
    background: white;
    
    .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        color: var(--color-text-black);
        text-align: center;
        h1 {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -1%;
        }

        p {
            color: #666666;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -1%; 
        }
    }
}