:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background-color: #242424; */
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /* color */
  --color-primary: #4361ee;
  --color-secondary: #f72585;
  --color-tertiary: #e6e6e6;
  --color-background: #fafafa;
  --color-text-black: #1a1a1a;
  --color-text-white: #ffffff;
  --color-text-highlight: #3f37ca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--color-background);
  // color: var(--color-text-white);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}
.anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.anonymous-pro-bold {
  font-family: "Anonymous Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}
