.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  
  .cycle {
    overflow: hidden;
  }
  .cycleM {
    display: none;
  }
  .polygon {
    overflow: hidden;
    margin-top: 14rem;
  }

  .text {
    padding-top: 5rem;
    h1 {
      padding: 2rem;
      font-family: Montserrat;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      color: #000000;
      margin: -1rem 6rem;
    }
    span {
      color: #4bc9f1;
    }
  }
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    .cycle {
      display: none;
    }
    .cycleM {
      display: block;
      margin: 0 0 -3rem 0;
    }
    .polygon {
      width: 5rem;
      height: 9rem;
      align-self: self-end;
      margin: -2rem 0 0 0;
    }
    .text {
      padding-top: 0;
      padding-left: 3rem;
      h1 {
        font-size: 2.2rem;
        padding: 0 0 0 5rem;
        margin: 0;
      }
    }
  }
}
