.slideshow {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 100vw;
  object-fit: cover; 
  -o-object-fit: cover; 
  -ms-object-fit: cover; 
  -webkit-object-fit: cover; 
  -moz-object-fit: cover; 
}
