$contorno-texto: 1px 1px 0 #fff,  -1px 1px 0 #fff,  1px -1px 0 #fff,  -1px -1px 0 #fff;
.slideshow {
  position: relative;
  height: 576px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/assets/images/herobanner.png");
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__container {
    margin-left: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    h1 {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 700;
      line-height: 120%;
      margin-top: -12px;
      span{
        display: flex;
        b{
          color: #F72585;
          text-shadow: $contorno-texto;

        }
      }
      @media (max-width: 768px) {
        font-size: 38px;
      }
      @media (max-width: 425px) {
        font-size: 26px;
      }
    }
    h6 {
      color: #ffffff;
      font-family: Anonymous Pro;
      font-size: 16px;
      font-weight: bold;
      line-height: 120%;
      @media (max-width: 768px) {
        font-size: 14px;
      }
      @media (max-width: 425px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
