.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 50px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      color: #666666;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -1%;
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4rem;
      
      a {
        display: inline-block;
        transition: transform 0.3s ease;
      }

      a:hover {
        transform: scale(1.1);
      }

      img {
        max-width: 200px;
        height: 80px;
      }
    }
  }

  .sponsorImageFix {
    height: 60px;
  }

  .terabyte img {
    height: 96px;
  }

  .gigabyte img {
    height: 88px;
  }

  .byte img{
    height: 69px;
  }
}

.bannerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.banner {
  display: inline-block;
  position: relative;
  img {
    width: 18rem;
  }
  figcaption {
    position: absolute;
    top: 12px;
    right: 58px;
    h2 {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 34px;
      font-weight: 700;
      line-height: 120%;
      text-align: center;
      transform: rotate(-3.44deg);
    }
    h6 {
      color: #ffffff;
      font-family: Anonymous Pro;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      text-align: center;
      transform: rotate(-4.15deg);
    }
  }
}


@media (max-width: 768px) {
  .sponsors {
    padding: 20px 20px;
    div {
      h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      div {
        gap: 2rem;
        a {
          img {
            max-width: 150px;
            height: 60px;
          }
        }
      }
    }
  }
}